/* Evitar parpadeo en iPad */
canvas {
    -webkit-tap-highlight-color: transparent;
   
}
/* Evitar barras en IE */
body {
-ms-overflow-style:none;
-ms-touch-action: none !important; /* DISABLE DOUBLE-TAP-ZOOM */

}

.negrita{
    font-weight: bold;
}
.cursiva{
    font-style: italic;
}
ul{
    line-height: 120%;
}
li {
    margin-bottom: 20px;
}
.estrecha li {
    margin-bottom: 5px;
}
li>ul>li{
    list-style-type:none; 
}
li>ul{
    margin-top: 10px;
}
.blanco{color:#FFFFFF;}
.negro{color:#000000;}
.marron{color:#89623E;}
.naranja{color:#EF542E;}
.azul_1{color:#2C8BB0;}
.azul{color:#0066CC;}
.lila{color:#A03ED7;}
.verde_1{color:#208E5E;}
.verde_2{color:#187E1B;}
.rojo_1{color:#B30218;}
.azul_2{color:#334BEF;}
.azul_oscuro{color:#243186;}
.rojo_2{color:#D6182F;}
.morado{color:#7E117D;}
.verde_1_50{color:#68AA8D;}
.azul_oscuro_50{color:#7C82AD;}
